body{
    background-color: #04050a;
    color: whitesmoke;
    padding: 0;
    margin: 0;
    display: flex;
}
nav{
    display: flex;
    flex-direction: column;
    /* background-color: #808080; */
    width: fit-content;
    height: calc(100vh-10px);
    justify-content: space-around;
    /* gap: 60px; */
    padding: 10px;
}
a{
    /* background-color: #d10a0a; */
    /* text-align: center; */
    color: whitesmoke;
    text-decoration: none;
}
main{
    display: flex;
    /* background-color: #520505; */
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    flex-wrap: wrap;
}
section{
    /* background-color: #fff; */
    height: 50%;
    display: flex;
}
section:nth-child(2){
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    justify-content: center;
}
img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}
