main {
    height: 93vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    }
/* Hide scrollbar for webkit browsers */
section::-webkit-scrollbar, p::-webkit-scrollbar {
    display: none;
}

section {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: blueviolet;
    flex: 1;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adds space between articles */
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
}

article {
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.4s ease;
    border: 1px solid #ccc;
    flex: 1 1 clamp(200px, 30%, 300px);
}

h2 {
    text-align: center;
}

p {
    display: none; /* Hidden by default */
    margin-top: 10px;
    max-height: 500px;
    overflow-y: scroll;

    /* Hide scrollbar */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
}

p::-webkit-scrollbar {
    display: none;
}

/* Active article expands */
article.active {
    background-color: blue;
    flex: 1 1 100%; /* Full width of the parent container */
    height: fit-content;
}

/* Show content inside the active article */
article.active p {
    display: block;
}

section:has(.article.active) .article:not(.active) {
    flex: 1 1 calc(50% - 10px); /* Becomes a rectangles and fit the remaining space */
    aspect-ratio: auto;
}
